[Desktop Entry]
Name=Cosmic Ext Time Tracker
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.hiimkobeand.cosmic-ext-time-tracker
Exec=cosmic-ext-time-tracker %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
