[Desktop Entry]
Name=Time Tracker
Type=Application
Exec=cosmic-ext-time-tracker
Terminal=false
Categories=COSMIC
Keywords=COSMIC
Icon=com.github.hiimkobeand.cosmic-ext-time-tracker
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
